mixin button(params)

  - var params = params || {}
  - var width = params.width || false
  - var color = params.color || false

  +b('button').button(
    class = { ['_width_#{width}']: width }
    class = { ['_color_#{color}']: color }
  )&attributes(attributes)
    block
