.calculator
  display flex
  flex-wrap wrap
  justify-content center
  align-items center
  padding 30px

  &__number
    padding 10px
    display block
    width 200px
    font-size 80px
    text-align center

  &__operator
    display block
    font-size 80px
    flex-shrink 0
    flex-grow 0

  &__action
    margin-y 10px
    display block
    flex-basis 100%
    flex-grow 1

  &__result
    margin-y 20px
    display block
    font-size 180px
    text-align center
    flex-basis 100%
    flex-grow 1
