include ../input/input
include ../button/button

mixin calculator(params)

  - var params = params || {}

  +b.calculator
    +e.number
      +input().js-number-a(name='a' placeholder='0' autocomplete='off')
    +e('span').operator +
    +e.number
      +input().js-number-b(name='b' placeholder='0' autocomplete='off')
    +e.action
      +button({ width: 'stretched', color: 'green' }).js-action Сложить
    +e.result.js-result
