header {
  position: fixed;
  padding: 8px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #efefef;
  z-index: 1;
  box-shadow: 0 2px 2px #ccc;
}
main {
  line-height: 1.5;
  padding-top: 90px;
}
